# Rust artifacts
target/
.idea
.vscode

#poetry lockfile
poetry.lock

# Snos artifacts
build/*

# Cairo dependencies
cairo-lang
venv
snos-env
.python-version
# Hint Dependency symlink
starkware

.DS_Store

hints.py
run_os.py
run_bootloader.py
prover
prover.zip
