# Rust artifacts
Cargo.lock
target/
.idea
.vscode

#poetry lockfile
poetry.lock

# Snos artifacts
build/*
!build/os_latest.json

# Cairo dependencies
cairo-lang
venv
# Hint Dependency symlink
starkware

.DS_Store

hints.py
run_os.py
run_bootloader.py
prover
prover.zip
