[package]
name = "snos"
version = "0.1.0"
edition = "2021"

[dependencies]
base64 = "0.21.3"
cairo-vm = { git = "https://github.com/drspacemn/cairo-vm", branch = "feat/pie-memory-serialization" }
cairo-felt = { git = "https://github.com/drspacemn/cairo-vm", branch = "feat/pie-memory-serialization" }
log = "0.4.19"
num-bigint = "0.4.4"
num-traits = "0.2.16"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.105"
thiserror = "1.0.48"
zip = { version = "0.6.6", features = ["deflate-zlib"] }
hex = "0.4.3"
starknet = { git = "https://github.com/xJonathanLEI/starknet-rs" }
uuid = { version = "1.4.0", features = ["v4", "serde"] }
reqwest = { version = "0.11.18", features = ["blocking", "json"] }
bitvec = {version = "1.0.1", features = ["serde"] }

[dev-dependencies]
rstest = "0.18.2"
